<div class="form-container">
    <h2>Create a Book List</h2>
    <form [formGroup]="booklistForm" (ngSubmit)="createBookList()">
      <label for="name">List Name:</label>
      <input id="name" formControlName="name" type="text" required />
      <span *ngIf="booklistForm.get('name')?.invalid && booklistForm.get('name')?.touched">Name is required</span>
  
      <label>Select Books:</label>
      <div *ngFor="let book of books()">
        <input type="checkbox" [value]="book.id" (change)="updateBookSelection(book.id, $event)" /> {{ book.title }}
      </div>
  
      <button type="submit" [disabled]="booklistForm.invalid">Create Book List</button>
    </form>
  
    <p class="success-message" *ngIf="successMessage()">{{ successMessage() }}</p>
  </div>
  