@use "../../../styles/variables" as *;

// Navbar Styling
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary-color;
  color: $white-color;
  padding: $padding-navbar;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $max-width;
    margin: auto;
    padding: 0 $base-padding;
  }

  .navbar-brand {
    font-size: $font-size-large;
    font-weight: bold;
    color: $white-color;
    text-decoration: none;
  }

  .navbar-links {
    list-style: none;
    display: flex;
    gap: $gap-navbar-links;

    li a {
      color: $white-color;
      text-decoration: none;
      font-size: $font-size-regular;
      padding: $navbar-link-padding;
      transition: color 0.3s;

      &:hover {
        text-decoration: $text-hover-decoration;
        color: $hover-color;
      }

      &.active {
        font-weight: bold;
        text-decoration: $text-hover-decoration;
      }
    }
  }
}

// Ensure content is not hidden behind the navbar
.content {
  padding-top: $navbar-height;
}
