<nav class="navbar">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Book App</a>
      <ul class="navbar-links">
        <li><a [routerLink]="'/books'" routerLinkActive="active">Books</a></li>
        <li><a [routerLink]="'/booklists'" routerLinkActive="active">Book Lists</a></li>
        <li><a [routerLink]="'/bookcreate'" routerLinkActive="active">Create Book</a></li>
        <li><a [routerLink]="'/booklistcreate'" routerLinkActive="active">Create Book Lists</a></li>
      </ul>
    </div>
  </nav>