@use '../../../../styles/_variables' as *;

// Booklist Detail Container
.booklist-detail-container {
  max-width: 600px;
  margin: 40px auto;
  padding: $base-padding;
  background: $white-color;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid $border-color;
  text-align: center;

  h2 {
    color: $primary-color;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1.4rem;
    color: $text-color;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $secondary-color;
      padding: $base-padding;
      margin: 5px 0;
      border-radius: $btn-radius;
      border: 1px solid $border-color;
      font-size: 1rem;

      .btn-delete {
        padding: 6px 12px;
        background-color: $danger-color;
        color: $white-color;
        border: none;
        border-radius: $btn-radius;
        cursor: pointer;
        font-size: 0.9rem;
        transition: background 0.3s;

        &:hover {
          background-color: $danger-color;
        }
      }
    }
  }
}